{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'poppins', cursive;
}

body {
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background: url('image1.jpeg') no-repeat;
background-size: cover;
background-position: center;    
}

label {
color: #f2b6b6;
}

h2 {
color: #f2b6b6;
}

span {
color: #f2b6b6;
}

input {
color: #f2b6b6;
font-size: 10em;
}
1{
    position: absolute;
    top: 0;
    left:3%;
}
h1 img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    overflow:hidden;
    object-fit:cover;
    margin-top: -5px;
}
h1 {
    color: #db9898;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left:3%;
}
header {
    position: absolute;
    top: 0;
    right: 0;
    width: 100;
    padding: 20px 100px;
    background: #A96F44 #F2ECB6;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    z-index: 99;
    }
    
    
    .navigation a {
    position: relative;
    right: 0;
    bottom: -6px;
    font-size: 1.2em;
    color: #f2b6b6; 
    text-decoration: dotted;
    font-weight: 500;
    margin-right: 40px;
    transform: scalex(0);
    }
    
    .navigation a::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #9c9ca5;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
    }
    
    .navigation a:hover::after {
    transform-origin: right;
    transform: scaleX(1);
    }
    
    .navigation .btnSignup-popup {
    position:static;
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #9c9ca5;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #f2b6b6;
    font-weight: 500;
    margin-right: 45px;
    transition: 5s;
    }
    
    .navigation .btnSignup-popup:hover {
    background:transparent;
    color: #843f1e
    }
    
    .navigation .btnLogin-popup {
    transition: 4s;
    overflow:hidden;
    }
    
    
    
    p {
    color: #f2b6b6;
    }
    
    .wrapper button {
    color: #f2b6b6;
    background: transparent;
    font-size: 1.3em;
    transform: translateY(-25%);
    outline: none;
    border-radius: 7px;
    
    }
    
    
    .wrapper {
    position: relative;
    width: 430px;
    height: 470px;
    background: transparent;
    border: 2px solid rgb(109, 109, 158);
    border-radius: 20px;
    backdrop-filter: rgb(11, 11, 229)(20px);
    box-shadow: 0 0 30px #956533;
    display: flex;
    font-size: 1.1em;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: height .5s ease, height .2s ease, border-color: 0.5s ease;
    }
    
    .wrapper:hover{
        border-color: #f2b6b6;
        animation: border-glow is infinite alternate;
    
    }
    
    @keyframes wrapper-glow {
        from {
            border-color: #f2b6b6;
            box-shadow: 0 0 20px #9c9ca5;
        }
        to {
            border-color: #f2b6b6;
            box-shadow: 0 0 20px #f2b6b6;
        }
    }
    
    .wrapper:hover {
        border-color: #f2b6b6;
        animation: wrapper-glow infinite alternate;
    }
    
    
    .wrapper.active-popup {
        animation: wrapper-glow infinite alternate;
    }
    
    .wrapper.active {
        height: 520px;
        animation: wrapper-glow infinite alternate;
    }
    
    .wrapper .form-box {
    width: 100%;
    padding: 50px;
    }
    
    .wrapper .form-box.login {
        display: absolute;
        transition: .10s ease;
        transform: translateX(0); 
    }
    
    .wrapper.active .form-box.login {
        transition: none;
        transform: translateX(-400px);
    }
    
    
    .wrapper .form-box.register {
        display: absolute;
    }
    
    .wrapper .form-box.register {
        position: absolute;
        transition: none;
        transform: translateX(400px);
    }
    
    .wrapper.active .form-box.register{
        transition: transform .10% ease;
        transform: translateX(0px); 
    }
    
    
    a {
    color: #f2b6b6;
    }
    
    label {
    color: #f2b6b6;
    }
    
    h2 {
    color: #f2b6b6;
    text-align: center;
    font-size: 5em;
    }
    
    span {
    color: #f2b6b6;
    }
    
    input {
    color: #f2b6b6;
    font-size: 10em;
    }
    
    
    
    .form-box h2 {
    transform: translateY(-0.5%);
    align-text: center;
    font-size: 2em;
    color: #f2b6b6;
    position: relative;
    }
    
    .input-box {
    position: relative;
    width: 350px;
    height: 40px;
    border-bottom: 3px solid #f2b6b6;
    margin: 50px 0; 
    }
    
    .input-box .icon-person {
    position: absolute;
    right: 0px;
    font-size: 1.2em;
    }
    
    .input-box label {
    position: absolute;
    top: 55%;
    left: 5px;
    transform: translateY(-130%);
    font-size: 6en;
    color: #f2b6b6;
    font-weight: 700;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
    }
    .input-box input:focus~label,
    .input-box input:valid~label{
        top:-5px;
    }
    .input-box input{
    width:100;
    height:100;
    background:transparent;
    border:none;
    outline: none;
    font-size: 1em;
    color:#f2b6b6;
    font-weight: 600;
    padding:0 35px o 5px;
    }
    input-box.icon{
    position:absolute;
    right:1px;
    font-size: 1.2em;
    color: #f2b6b6;
    line-height: 57px;

    }
    .remember-forgot{
        font-size: 1em;
        color: #f2b6b6;
        font-weight: 500;
        margin: -15px 0 15px;
        display: flex;
        justify-content: space space-between;
    }
    .remember-forgot label{
    color: #f2b6b6;
    font-size: 1em;
    font-weight: 600;
    }
    .remember-forgot label input{
        accent-color: #f2b6b6;
        margin-right: 3px;
    }
    .remember-forgot a{
        color:#f2b6b6;
        text-decoration:none;
    }
    .remember-forgota:hover{
        text-decoration: underline;
    }
    .btn{
        width:100px;
        height:50px;
        border: #9c9ca5;
        outline: #9c9ca5;
        border-radius: 6px;
        cursor:pointer;
        font-size:1em;
        color:#f2b6b6;
        font-weight:500;


    }
    .login-register {
        transform: translate y(-100%);
        font-size: 1em;
        color: #f2b6b6;
        text-align: center;
        font-weight: 500;
        margin: 10px 0 8px;
    }
    ].login-register p a {
        color: #f2b6b6;
        text-decoration: none;
        font-weight: 600;

    }
    .login-register p a:hover {
        text-decoration: underline;
    }

    }
    
